In [2]:
import requests
import json
import time
import traceback
import pymysql
import pandas as pd
from datetime import datetime

CONNECT TO AWS RDS

In [6]:
dbikes = pymysql.Connect(
    host = "dbikes.ccike2q3zkya.eu-west-1.rds.amazonaws.com",
    user = "admin",
    passwd = "admin2022",
    database = "dbikes")

CREATE THREE TABLES

static_station columns: number, name, bike stands, lat, lng

dynamic_station columns: number, last_update, available_bike_stands, available_bikes

dynamic_weather columns: number, lat, lng, dt, temp, pressure, wind_speed, humidity

In [10]:
cur = dbikes.cursor()
cur.execute("CREATE TABLE IF NOT EXISTS static_station(number integer, name varchar(45), bike_stands integer, lat float, lng float)")
cur.execute("CREATE TABLE IF NOT EXISTS dynamic_station(number integer, last_update integer, available_bike_stands integer, available_bikes integer)")
cur.execute("CREATE TABLE IF NOT EXISTS dynamic_weather(number integer, lat float, lng float, dt integer, temp float, pressure float, wind_speed float, humidity float)")

0

Insert the static_station table

In [ ]:
for i in range(len(data)):
    station_row = data[i]
    static_station_insert_query = "INSERT INTO static_station(number, name, bike stands, lat, lng) VALUES(%s, %s, %s, %s)"
    static_station_data = (int(station_row.get("number")),
                           station_row.get("name"),
                           int(station_row.get("bike_stands")),
                           float(station_row.get("position").get("lat")),
                           float(station_row.get("position").get("lng")))
    cur.execute(static_station_insert_query, static_station_data)
dbikes.commit()

Method to request data from JDCecaux API and Openweather API

In [12]:
#dublin bike station api
APIKEY = "a4ae2329e4585bbd13dcf83332d04b69a88fb904" 
NAME = "Dublin" 
STATIONS_URI = "https://api.jcdecaux.com/vls/v1/stations"
api_response = requests.get(STATIONS_URI, params={"apiKey": APIKEY, "contract": NAME})
data = json.loads(api_response.text)

#openweather api
WEATHER_APIKEY = "eeec159d31a816c2152dbf05ba6e0076"
WEATHER_URL = "http://api.openweathermap.org/data/2.5/weather?lat={}&lon={}&appid={}"

In [14]:
def InsertData2Tables(station):
    for i in range(0,len(station)):
        station_row = station[i]
        weather_response = requests.get(WEATHER_URL.format(station_row.get("position").get("lat"), station_row.get("position").get("lng"), WEATHER_APIKEY))
        weather = json.loads(weather_response.text)
#         insert the station data
        station_insert_query = "INSERT INTO dynamic_station(number, last_update, available_bike_stands, available_bikes) VALUES(%s, %s, %s, %s)"
        station_data = (int(station_row.get("number")),
                        float(station_row.get("last_update")),
                        int(station_row.get("available_bike_stands")),
                        int(station_row.get("available_bikes")))
        cur.execute(station_insert_query, station_data)
        
#         insert the weather data
#         here still in this rage because each station match each weather, which is the same in number
        weather_insert_query = "INSERT INTO dynamic_weather(number, lat, lng, dt, temp, pressure, wind_speed, humidity) VALUES(%s, %s, %s, %s, %s, %s, %s, %s)"
        weather_data = (int(station_row.get("number")),
                        float(weather["coord"].get("lat")),
                        float(weather["coord"].get("lon")),
                        int(weather["dt"]),
                        float(weather["main"].get("temp")),
                        float(weather["main"].get("pressure")),
                        float(weather["wind"].get("speed")),
                        float(weather["main"].get("humidity")))
        cur.execute(weather_insert_query, weather_data)
    dbikes.commit()

In [15]:
def ContinuousGetData():
    while True:
        try:
            api_response = requests.get(STATIONS_URI, params={"apiKey": APIKEY, "contract": NAME})
            data = json.loads(api_response.text)
            InsertData2Tables(data)
            
#             sleep every 5 minutes
            time.sleep(5*60)
    
        except:
#             hit for problems
            print(traceback.format_exc())

In [ ]:

# create a static_df
static_table = pd.DataFrame(
    columns=("number", "name", "last_update", "available_bike_stands", "available_bikes", "bike_stands","lat","lng", "status"))

# create table to store the dynamic weather data 
dynamic_weather_table = pd.DataFrame(
    columns=("number", "lat", "lng", "dt", "temp", "pressure", "wind_speed", "humidity"))

#fill the dataframe
for i in range(len(data)):
    weather_response = requests.get(WEATHER_URL.format(data[i].get("position").get("lat"), data[i].get("position").get("lng"), WEATHER_APIKEY))
    weather_data = json.loads(weather_response.text)
#     fill static_dataframe
    static_table.loc[i] = [int(data[i].get("number")),data[i].get("name"), float(data[i].get("last_update")), 
                           int(data[i].get("available_bike_stands")),
                           int(data[i].get("available_bikes")),
                           int(data[i].get("bike_stands")),
                           data[i].get("position").get("lat"),data[i].get("position").get("lng"),data[i].get("status")]
    
#      fill weather_dataframe
    dynamic_weather_table.loc[i] = [int(data[i].get("number")),
                                    float(weather_data["coord"].get("lat")), float(weather_data["coord"].get("lon")),
                                    int(weather_data["dt"]),
                                    float(weather_data["main"].get("temp")),
                                    float(weather_data["main"].get("pressure")),
                                    float(weather_data["wind"].get("speed")),
                                    float(weather_data["main"].get("humidity"))]

In [189]:
#  convert the timestrip to datetime
static_table["last_update"] = pd.to_datetime(static_table["last_update"], unit = "ms")
#  add weekday to table as a parameter
static_table["weekday"] = static_table["last_update"].map(lambda x: x.weekday())
static_table.head()

,number,name,last_update,available_bike_stands,available_bikes,bike_stands,lat,lng,status,weekday
0,42,SMITHFIELD NORTH,2022-02-14 00:40:44,7,23,30,53.349562,-6.278198,OPEN,0
1,30,PARNELL SQUARE NORTH,2022-02-14 00:43:58,14,6,20,53.353462,-6.265305,OPEN,0
2,54,CLONMEL STREET,2022-02-14 00:50:14,18,15,33,53.336021,-6.262980,OPEN,0
3,108,AVONDALE ROAD,2022-02-14 00:45:03,16,19,35,53.359405,-6.276142,OPEN,0
4,56,MOUNT STREET LOWER,2022-02-14 00:41:03,23,17,40,53.337960,-6.241530,OPEN,0

In [190]:
#  convert the timestrip to datetime
dynamic_weather_table["dt"] = pd.to_datetime(dynamic_weather_table["dt"], unit = "s")
#  add weekday to table as a parameter
dynamic_weather_table["weekday"] = dynamic_weather_table["dt"].map(lambda x: x.weekday())
dynamic_weather_table.head()

,number,lat,lng,dt,temp,pressure,wind_speed,humidity,weekday
0,42.0,53.3496,-6.2782,2022-02-14 00:50:30,278.61,993.0,6.69,91.0,0
1,30.0,53.3535,-6.2653,2022-02-14 00:50:30,278.58,993.0,6.69,91.0,0
2,54.0,53.3400,-6.2600,2022-02-14 00:46:18,278.59,993.0,6.69,91.0,0
3,108.0,53.3594,-6.2761,2022-02-14 00:50:30,278.52,993.0,6.69,91.0,0
4,56.0,53.3380,-6.2415,2022-02-14 00:50:30,278.55,993.0,6.69,91.0,0

In [191]:
dynamic_weather_table

,number,lat,lng,dt,temp,pressure,wind_speed,humidity,weekday
0,42.0,53.3496,-6.2782,2022-02-14 00:50:30,278.61,993.0,6.69,91.0,0
1,30.0,53.3535,-6.2653,2022-02-14 00:50:30,278.58,993.0,6.69,91.0,0
2,54.0,53.3400,-6.2600,2022-02-14 00:46:18,278.59,993.0,6.69,91.0,0
3,108.0,53.3594,-6.2761,2022-02-14 00:50:30,278.52,993.0,6.69,91.0,0
4,56.0,53.3380,-6.2415,2022-02-14 00:50:30,278.55,993.0,6.69,91.0,0
5,6.0,53.3438,-6.2672,2022-02-14 00:43:34,278.62,993.0,6.69,91.0,0
6,18.0,53.3341,-6.2654,2022-02-14 00:50:30,278.57,993.0,6.69,91.0,0
7,32.0,53.3443,-6.2504,2022-02-14 00:50:30,278.61,993.0,6.69,91.0,0
8,52.0,53.3400,-6.2600,2022-02-14 00:46:18,278.59,993.0,6.69,91.0,0
9,48.0,53.3478,-6.2442,2022-02-14 00:50:30,278.61,993.0,6.69,91.0,0
10,13.0,53.3443,-6.2504,2022-02-14 00:50:30,278.61,993.0,6.69,91.0,0
11,43.0,53.3341,-6.2654,2022-02-14 00:50:30,278.57,993.0,6.69,91.0,0
12,31.0,53.3535,-6.2653,2022-02-14 00:50:30,278.58,993.0,6.69,91.0,0
13,98.0,53.3400,-6.2600,2022-02-14 00:46:18,278.59,993.0,6.69,91.0,0
14,23.0,53.3483,-6.2547,2022-02-14 00:50:31,278.59,993.0,6.69,91.0,0
15,106.0,53.3589,-6.2803,2022-02-14 00:50:31,278.51,993.0,6.69,91.0,0
16,112.0,53.3578,-6.2516,2022-02-14 00:50:31,278.57,993.0,6.69,91.0,0
17,68.0,53.3441,-6.2372,2022-02-14 00:50:31,278.62,993.0,6.69,91.0,0
18,74.0,53.3368,-6.2759,2022-02-14 00:44:20,278.59,993.0,6.69,91.0,0
19,87.0,53.3487,-6.2939,2022-02-14 00:50:21,278.56,993.0,6.69,91.0,0
20,84.0,53.3390,-6.3002,2022-02-14 00:50:31,278.55,993.0,6.69,91.0,0
21,90.0,53.3442,-6.2335,2022-02-14 00:50:31,278.61,993.0,6.69,91.0,0
22,11.0,53.3343,-6.2585,2022-02-14 00:50:31,278.57,993.0,6.69,91.0,0
23,17.0,53.3408,-6.2677,2022-02-14 00:50:31,278.59,993.0,6.69,91.0,0
24,45.0,53.3498,-6.2603,2022-02-14 00:47:22,278.57,993.0,6.69,91.0,0
25,114.0,53.3331,-6.2489,2022-02-14 00:41:18,278.58,993.0,6.17,91.0,0
26,72.0,53.3368,-6.2759,2022-02-14 00:44:20,278.59,993.0,6.69,91.0,0
27,63.0,53.3414,-6.2467,2022-02-14 00:50:32,278.59,993.0,6.69,91.0,0
28,113.0,53.3386,-6.2486,2022-02-14 00:50:32,278.54,993.0,6.69,91.0,0
29,91.0,53.3413,-6.2263,2022-02-14 00:50:19,278.61,993.0,6.69,91.0,0
30,99.0,53.3466,-6.2462,2022-02-14 00:50:32,278.61,993.0,6.69,91.0,0
31,9.0,53.3430,-6.2636,2022-02-14 00:50:32,278.57,993.0,6.69,91.0,0
32,67.0,53.3491,-6.2331,2022-02-14 00:46:56,278.62,993.0,6.69,91.0,0
33,116.0,53.3547,-6.2723,2022-02-14 00:50:32,278.57,993.0,6.69,91.0,0
34,55.0,53.3340,-6.2607,2022-02-14 00:50:32,278.56,993.0,6.69,91.0,0
35,62.0,53.3460,-6.2436,2022-02-14 00:50:32,278.61,993.0,6.69,91.0,0
36,5.0,53.3340,-6.2607,2022-02-14 00:50:32,278.56,993.0,6.69,91.0,0
37,97.0,53.3421,-6.3100,2022-02-14 00:50:32,278.56,993.0,6.69,91.0,0
38,61.0,53.3570,-6.2632,2022-02-14 00:50:33,278.53,993.0,6.69,91.0,0
39,77.0,53.3489,-6.2675,2022-02-14 00:50:33,278.60,993.0,6.69,91.0,0
40,73.0,53.3421,-6.2752,2022-02-14 00:50:33,278.58,993.0,6.69,91.0,0
41,4.0,53.3489,-6.2675,2022-02-14 00:50:33,278.60,993.0,6.69,91.0,0
42,49.0,53.3479,-6.2409,2022-02-14 00:50:33,278.61,993.0,6.69,91.0,0
43,19.0,53.3344,-6.2456,2022-02-14 00:50:33,278.60,993.0,6.69,91.0,0
44,7.0,53.3421,-6.2752,2022-02-14 00:50:33,278.58,993.0,6.69,91.0,0
45,60.0,53.3596,-6.2603,2022-02-14 00:50:33,278.55,993.0,6.69,91.0,0
46,102.0,53.3489,-6.2675,2022-02-14 00:50:33,278.60,993.0,6.69,91.0,0
47,38.0,53.3510,-6.2529,2022-02-14 00:50:33,278.59,993.0,6.69,91.0,0
48,53.0,53.3400,-6.2600,2022-02-14 00:48:29,278.59,993.0,6.69,91.0,0
49,58.0,53.3392,-6.2406,2022-02-14 00:50:33,278.55,993.0,6.69,91.0,0
50,66.0,53.3471,-6.2347,2022-02-14 00:50:34,278.61,993.0,6.69,91.0,0
51,104.0,53.3552,-6.2784,2022-02-14 00:50:34,278.56,993.0,6.69,91.0,0
52,101.0,53.3535,-6.2653,2022-02-14 00:50:30,278.58,993.0,6.69,91.0,0
53,115.0,53.3548,-6.2476,2022-02-14 00:50:34,278.60,993.0,6.69,91.0,0
54,47.0,53.3443,-6.2504,2022-02-14 00:50:30,278.61,993.0,6.69,91.0,0
55,117.0,53.3437,-6.2318,2022-02-14 00:50:34,278.60,993.0,6.69,91.0,0
56,8.0,53.3548,-6.2476,2022-02-14 00:50:34,278.60,993.0,6.69,91.0,0
57,27.0,53.3400,-6.2600,2022-02-14 00:46:18,278.59,993.0,6.69,91.0,0
58,16.0,53.3548,-6.2476,2022-02-14 00:50:34,278.60,993.0,6.69,91.0,0
59,96.0,53.3418,-6.3051,2022-02-14 00:50:34,278.58,993.0,6.69,91.0,0
60,82.0,53.3416,-6.2972,2022-02-14 00:50:34,278.58,993.0,6.69,91.0,0
61,76.0,53.3423,-6.2877,2022-02-14 00:50:34,278.54,993.0,6.69,91.0,0
62,71.0,53.3438,-6.2672,2022-02-14 00:43:34,278.62,993.0,6.69,91.0,0
63,79.0,53.3581,-6.2656,2022-02-14 00:50:34,278.50,993.0,6.69,91.0,0
64,69.0,53.3380,-6.2415,2022-02-14 00:50:30,278.55,993.0,6.69,91.0,0
65,25.0,53.3443,-6.2504,2022-02-14 00:50:30,278.61,993.0,6.69,91.0,0
66,51.0,53.3400,-6.2600,2022-02-14 00:46:18,278.59,993.0,6.69,91.0,0
67,37.0,53.3400,-6.2600,2022-02-14 00:46:18,278.59,993.0,6.69,91.0,0
68,59.0,53.3556,-6.2614,2022-02-14 00:50:35,278.53,993.0,6.69,91.0,0
69,95.0,53.3416,-6.2972,2022-02-14 00:50:34,278.58,993.0,6.69,91.0,0
70,94.0,53.3470,-6.2978,2022-02-14 00:50:35,278.64,993.0,6.69,91.0,0
71,105.0,53.3594,-6.2761,2022-02-14 00:50:30,278.52,993.0,6.69,91.0,0
72,36.0,53.3400,-6.2600,2022-02-14 00:46:18,278.59,993.0,6.69,91.0,0
73,93.0,53.3470,-6.2978,2022-02-14 00:50:35,278.64,993.0,6.69,91.0,0
74,22.0,53.3548,-6.2476,2022-02-14 00:50:34,278.60,993.0,6.69,91.0,0
75,50.0,53.3496,-6.2782,2022-02-14 00:50:30,278.61,993.0,6.69,91.0,0
76,110.0,53.3581,-6.2656,2022-02-14 00:50:34,278.50,993.0,6.69,91.0,0
77,12.0,53.3581,-6.2656,2022-02-14 00:50:34,278.50,993.0,6.69,91.0,0
78,34.0,53.3341,-6.2654,2022-02-14 00:50:30,278.57,993.0,6.69,91.0,0
79,78.0,53.3556,-6.2614,2022-02-14 00:50:35,278.53,993.0,6.69,91.0,0
80,2.0,53.3581,-6.2656,2022-02-14 00:50:34,278.50,993.0,6.69,91.0,0
81,75.0,53.3423,-6.2877,2022-02-14 00:50:34,278.54,993.0,6.69,91.0,0
82,111.0,53.3556,-6.2614,2022-02-14 00:50:35,278.53,993.0,6.69,91.0,0
83,26.0,53.3443,-6.2504,2022-02-14 00:50:30,278.61,993.0,6.69,91.0,0
84,65.0,53.3478,-6.2442,2022-02-14 00:50:30,278.61,993.0,6.69,91.0,0
85,15.0,53.3556,-6.2614,2022-02-14 00:50:35,278.53,993.0,6.69,91.0,0
86,86.0,53.3480,-6.2918,2022-02-14 00:50:36,278.58,993.0,6.69,91.0,0
87,10.0,53.3438,-6.2672,2022-02-14 00:43:34,278.62,993.0,6.69,91.0,0
88,100.0,53.3480,-6.2918,2022-02-14 00:50:36,278.58,993.0,6.69,91.0,0
89,24.0,53.3521,-6.2605,2022-02-14 00:50:36,278.54,993.0,6.69,91.0,0
90,64.0,53.3548,-6.2476,2022-02-14 00:50:34,278.60,993.0,6.69,91.0,0
91,109.0,53.3548,-6.2476,2022-02-14 00:50:34,278.60,993.0,6.69,91.0,0
92,85.0,53.3416,-6.2972,2022-02-14 00:50:34,278.58,993.0,6.69,91.0,0
93,107.0,53.3594,-6.2761,2022-02-14 00:50:30,278.52,993.0,6.69,91.0,0
94,33.0,53.3521,-6.2605,2022-02-14 00:50:36,278.54,993.0,6.69,91.0,0
95,44.0,53.3556,-6.2614,2022-02-14 00:50:35,278.53,993.0,6.69,91.0,0
96,89.0,53.3443,-6.2504,2022-02-14 00:50:30,278.61,993.0,6.69,91.0,0
97,57.0,53.3380,-6.2415,2022-02-14 00:50:30,278.55,993.0,6.69,91.0,0
98,80.0,53.3423,-6.2877,2022-02-14 00:50:34,278.54,993.0,6.69,91.0,0
99,41.0,53.3328,-6.2579,2022-02-14 00:50:37,278.57,993.0,6.69,91.0,0
100,3.0,53.3535,-6.2653,2022-02-14 00:50:30,278.58,993.0,6.69,91.0,0
101,40.0,53.3535,-6.2653,2022-02-14 00:50:30,278.58,993.0,6.69,91.0,0
102,29.0,53.3535,-6.2653,2022-02-14 00:50:30,278.58,993.0,6.69,91.0,0
103,103.0,53.3496,-6.2782,2022-02-14 00:50:30,278.61,993.0,6.69,91.0,0
104,28.0,53.3556,-6.2614,2022-02-14 00:50:35,278.53,993.0,6.69,91.0,0
105,39.0,53.3324,-6.2527,2022-02-14 00:50:37,278.57,993.0,6.69,91.0,0
106,83.0,53.3418,-6.3051,2022-02-14 00:50:34,278.58,993.0,6.69,91.0,0
107,92.0,53.3480,-6.2918,2022-02-14 00:50:36,278.58,993.0,6.69,91.0,0
108,21.0,53.3443,-6.2504,2022-02-14 00:50:30,278.61,993.0,6.69,91.0,0
109,88.0,53.3496,-6.2782,2022-02-14 00:50:30,278.61,993.0,6.69,91.0,0

In [ ]:
dynamic_weather_table.d

In [192]:
static_table.columns

Index(['number', 'name', 'last_update', 'available_bike_stands',
       'available_bikes', 'bike_stands', 'lat', 'lng', 'status', 'weekday'],
      dtype='object')

In [228]:
# static_table = static_table.drop(["lat","lng","status"],axis = 1)
# del static_table['weekday']
merge_table = static_table.merge(dynamic_weather_table,left_on = "number",right_on = "number")

# assume that canpacity only effect by hour regardless of the holiday
# convert the date to hour
merge_table["hour"] = pd.to_datetime(merge_table["last_update"], format='%Y-%M-%D %H:%M:%S').dt.hour
regression_table = pd.DataFrame(merge_table,columns = ["number","available_bike_stands","available_bikes","bike_stands","temp",
                                                      "pressure","wind_speed","humidity","weekday","hour"])

In [231]:
regression_table.dtypes

number                     int64
available_bike_stands      int64
available_bikes            int64
bike_stands                int64
temp                     float64
pressure                 float64
wind_speed               float64
humidity                 float64
weekday                  float64
hour                       int64
dtype: object

In [230]:
# covert the object type to int64
regression_table["number"] = regression_table["number"].astype("int64")
regression_table["available_bike_stands"] = regression_table["available_bike_stands"].astype("int64")
regression_table["available_bikes"] = regression_table["available_bikes"].astype("int64")
regression_table["bike_stands"] = regression_table["bike_stands"].astype("int64")
regression_table.corr()

,number,available_bike_stands,available_bikes,bike_stands,temp,pressure,wind_speed,humidity,weekday,hour
number,1.000000,0.357747,0.136767,0.562979,-0.092720,NaN,-0.152502,NaN,NaN,NaN
available_bike_stands,0.357747,1.000000,-0.597897,0.571667,0.109414,NaN,-0.225620,NaN,NaN,NaN
available_bikes,0.136767,-0.597897,1.000000,0.315737,-0.037541,NaN,0.162949,NaN,NaN,NaN
bike_stands,0.562979,0.571667,0.315737,1.000000,0.092407,NaN,-0.100463,NaN,NaN,NaN
temp,-0.092720,0.109414,-0.037541,0.092407,1.000000,NaN,-0.007839,NaN,NaN,NaN
pressure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
wind_speed,-0.152502,-0.225620,0.162949,-0.100463,-0.007839,NaN,1.000000,NaN,NaN,NaN
humidity,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
weekday,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
hour,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Here, because of the lack of data, there is no Correlation coefficient of humidity, weekday and hour.


All of the above data is the same value, so the result is NaN

In [196]:
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [250]:
# Split the data into train and test sets
# Take a third (random) data samples as test data, rest as training data
# If we want to get the same train/test split every time we run, we can set the random_state variable to a fixed value

def train_test(X,y):
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=1)
    
    #need to reset the index to allow contatenation with predicted values otherwise not joining on same index...
    #Training Data reset index
    X_train.reset_index(drop=True, inplace=True)
    y_train.reset_index(drop=True, inplace=True)
    
    # Testing Data reset index
    X_test.reset_index(drop=True, inplace=True)
    y_test.reset_index(drop=True, inplace=True)

    return X_train, X_test, y_train, y_test

In [245]:
def Prediction(X_train, X_test, y_train, y_test):
    #Prediction on Trainig  set 
    #model = LinearRegression()
    
    rfc = RandomForestRegressor(n_estimators=100, max_features='auto', oob_score=True, random_state=1)
    
    rfc.fit(X_train,y_train)
    
    importance = pd.DataFrame({'feature': X_train.columns, 'importance':rfc.feature_importances_})
    print(importance.sort_values('importance', ascending=False))
    
    #Prediction on Train Data

    rfc_predictions_train = rfc.predict(X_train)
    df_true_vs_rfc_predicted = pd.DataFrame({'ActualClass': y_train, 'PredictedClass': rfc_predictions_train})
    print(df_true_vs_rfc_predicted.head(20))
    
    #Prediction on test Data
    rfc_predictions_test = rfc.predict(X_test)
    df_true_vs_rfc_predicted_test = pd.DataFrame({'ActualClass': y_test, 'PredictedClass': rfc_predictions_test})
    df_true_vs_rfc_predicted_test.head(20)
    
    print("\nrfc.oob_score_",rfc.oob_score_,"\n")
    return rfc

In [246]:
station_number = regression_table["number"].drop_duplicates().values.tolist()
station_number = sorted(station_number)
print(station_number)

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117]

In [247]:
cont_features = ["available_bike_stands","available_bikes","bike_stands","temp",
                 "pressure","wind_speed","humidity","weekday","hour"]

In [248]:
def bikeAvailability():
    for _ in station_number:
        df_new = regression_table[regression_table.number==_]
        X = df_new[cont_features]
        y = df_new.available_bikes
        
        print("\n~~~~~~ STATION NUMBER =",_,"~~~~~~\n")
        X_train, X_test, y_train, y_test = train_test(X,y)
       
        rfc = Prediction(X_train, X_test, y_train, y_test)
        
        with open('./PickelFiles/'+str(_)+'.pkl','wb') as write:
            pickle.dump(rfc,write)
    
    return

In [251]:
bikeAvailability()

~~~~~~ STATION NUMBER = 2 ~~~~~~

ValueError: With n_samples=1, test_size=0.1 and train_size=None, the resulting train set will be empty. Adjust any of the aforementioned parameters.

In [264]:
cont_features = ["bike_stands","available_bikes","temp",
                 "pressure","wind_speed","humidity","hour"]
X_W = regression_table[cont_features]
y_W = regression_table.available_bike_stands
X_train_W, X_test_W, y_train_W, y_test_W = train_test(X_W,y_W)
X_W.dtypes

bike_stands          int64
available_bikes      int64
temp               float64
pressure           float64
wind_speed         float64
humidity           float64
hour                 int64
dtype: object

In [265]:
X_train_W

    bike_stands  available_bikes    temp  pressure  wind_speed  humidity  hour
0            40                7  278.60     993.0        6.69      91.0     0
1            33               15  278.59     993.0        6.69      91.0     0
2            30               25  278.53     993.0        6.69      91.0     0
3            40                7  278.61     993.0        6.69      91.0     0
4            30               21  278.60     993.0        6.69      91.0     0
5            40               16  278.61     993.0        6.69      91.0     0
6            40               29  278.52     993.0        6.69      91.0     0
7            25               11  278.58     993.0        6.69      91.0     0
8            40               29  278.61     993.0        6.69      91.0     0
9            40               20  278.64     993.0        6.69      91.0     0
10           40               26  278.62     993.0        6.69      91.0     0
11           20                2  278.50     993.0        6.69      91.0     0
12           40                7  278.61     993.0        6.69      91.0     0
13           16               12  278.62     993.0        6.69      91.0     0
14           30                6  278.57     993.0        6.69      91.0     0
15           30                8  278.59     993.0        6.69      91.0     0
16           40                9  278.59     993.0        6.69      91.0     0
17           40               20  278.60     993.0        6.69      91.0     0
18           38                8  278.58     993.0        6.69      91.0     0
19           24               10  278.57     993.0        6.69      91.0     0
20           40                9  278.60     993.0        6.69      91.0     0
21           30                9  278.58     993.0        6.69      91.0     0
22           30               10  278.61     993.0        6.69      91.0     0
23           40               25  278.62     993.0        6.69      91.0     0
24           20               15  278.60     993.0        6.69      91.0     0
25           38               17  278.56     993.0        6.69      91.0     0
26           30               15  278.61     993.0        6.69      91.0     0
27           35               11  278.59     993.0        6.69      91.0     0
28           40               27  278.56     993.0        6.69      91.0     0
29           16                5  278.53     993.0        6.69      91.0     0
30           29               15  278.60     993.0        6.69      91.0     0
31           40               15  278.59     993.0        6.69      91.0     0
32           20                8  278.61     993.0        6.69      91.0     0
33           29               21  278.58     993.0        6.69      91.0     0
34           30               12  278.58     993.0        6.69      91.0     0
35           20                9  278.50     993.0        6.69      91.0     0
36           40               25  278.62     993.0        6.69      91.0     0
37           40               17  278.53     993.0        6.69      91.0     0
38           20                7  278.59     993.0        6.69      91.0     0
39           36                6  278.56     993.0        6.69      91.0     0
40           40               18  278.58     993.0        6.69      91.0     0
41           30               12  278.53     993.0        6.69      91.0     0
42           40               17  278.55     993.0        6.69      91.0     0
43           40               11  278.54     993.0        6.69      91.0     0
44           40               20  278.51     993.0        6.69      91.0     0
45           35               12  278.58     993.0        6.69      91.0     0
46           20               18  278.60     993.0        6.69      91.0     0
47           40                5  278.56     993.0        6.69      91.0     0
48           30               25  278.55     993.0        6.69      91.0     0
49           20               13  278.58     993.0        6.69      91.0     0
50           30               23  278.58     993.0        6.69      91.0     0
51           31                4  278.59     993.0        6.69      91.0     0
52           30                0  278.61     993.0        6.69      91.0     0
53           30                5  278.60     993.0        6.69      91.0     0
54           30                7  278.57     993.0        6.69      91.0     0
55           40                8  278.64     993.0        6.69      91.0     0
56           30               20  278.57     993.0        6.69      91.0     0
57           40               12  278.55     993.0        6.69      91.0     0
58           40               11  278.61     993.0        6.69      91.0     0
59           35               19  278.52     993.0        6.69      91.0     0
60           30                1  278.61     993.0        6.69      91.0     0
61           40                8  278.59     993.0        6.69      91.0     0
62           29               10  278.60     993.0        6.69      91.0     0
63           32               14  278.59     993.0        6.69      91.0     0
64           22                2  278.58     993.0        6.69      91.0     0
65           30               23  278.61     993.0        6.69      91.0     0
66           20                5  278.57     993.0        6.69      91.0     0
67           20                0  278.59     993.0        6.69      91.0     0
68           30                1  278.57     993.0        6.69      91.0     0
69           38               13  278.54     993.0        6.69      91.0     0
70           27                7  278.50     993.0        6.69      91.0     0
71           30                2  278.61     993.0        6.69      91.0     0
72           20                1  278.57     993.0        6.69      91.0     0
73           40               17  278.59     993.0        6.69      91.0     0
74           20               11  278.53     993.0        6.69      91.0     0
75           23                5  278.54     993.0        6.69      91.0     0
76           30                5  278.59     993.0        6.69      91.0     0
77           30               20  278.61     993.0        6.69      91.0     0
78           40                6  278.54     993.0        6.69      91.0     0
79           30               16  278.57     993.0        6.69      91.0     0
80           40               12  278.61     993.0        6.69      91.0     0
81           30               22  278.59     993.0        6.69      91.0     0
82           30                8  278.55     993.0        6.69      91.0     0
83           40               20  278.61     993.0        6.69      91.0     0
84           40                0  278.58     993.0        6.17      91.0     0
85           30               27  278.57     993.0        6.69      91.0     0
86           36               12  278.52     993.0        6.69      91.0     0
87           40               21  278.50     993.0        6.69      91.0     0
88           20                6  278.58     993.0        6.69      91.0     0
89           30               24  278.57     993.0        6.69      91.0     0
90           40                9  278.55     993.0        6.69      91.0     0
91           40               20  278.53     993.0        6.69      91.0     0
92           20               15  278.62     993.0        6.69      91.0     0
93           40                5  278.61     993.0        6.69      91.0     0
94           40               15  278.61     993.0        6.69      91.0     0
95           40               28  278.59     993.0        6.69      91.0     0
96           20               15  278.58     993.0        6.69      91.0     0
97           40               21  278.58     993.0        6.69      91.0     0
98           40               14  278.56     993.0        6.69      91.0     0

In [266]:
rfc = RandomForestRegressor(n_estimators=50, max_features='auto', oob_score=True, random_state=1)
rfc.fit(X_train_W,y_train_W)

RandomForestRegressor(n_estimators=50, oob_score=True, random_state=1)

In [267]:
importance = pd.DataFrame({'feature': X_train_W.columns, 'importance':rfc.feature_importances_})
importance.sort_values('importance', ascending=False)

           feature  importance
1  available_bikes    0.532079
0      bike_stands    0.452267
2             temp    0.011838
4       wind_speed    0.003816
3         pressure    0.000000
5         humidity    0.000000
6             hour    0.000000

In [268]:
#Prediction on Train Data

rfc_predictions_train = rfc.predict(X_train_W)
df_true_vs_rfc_predicted = pd.DataFrame({'ActualClass': y_train_W, 'PredictedClass': rfc_predictions_train})
df_true_vs_rfc_predicted.head(50)

    ActualClass  PredictedClass
0            33           32.88
1            18           18.46
2             5            5.06
3            33           32.92
4             9            8.98
5            24           24.24
6            11           11.06
7            14           13.90
8            10           11.18
9            20           19.92
10           14           14.14
11           18           18.02
12           33           32.92
13            4            5.92
14           24           24.36
15           22           22.12
16           31           31.08
17           20           19.92
18           30           29.54
19           14           13.80
20           31           31.16
21           21           21.30
22           20           20.06
23           15           14.78
24            5            5.08
25           21           21.70
26           15           14.16
27           24           24.32
28           13           12.86
29           11           12.90
30           14           13.12
31           25           25.04
32           12           12.60
33            8            8.48
34           18           17.52
35           11           11.44
36           15           14.78
37           23           22.96
38           13           13.58
39           30           29.40
40           22           22.32
41           18           18.02
42           23           22.90
43           29           28.60
44           20           19.78
45           23           23.04
46            2            3.28
47           35           34.84
48            5            5.06
49            7            6.72

In [269]:
#Prediction on Test Data

rfc_predictions_test = rfc.predict(X_test_W)
df_true_vs_rfc_predicted_test = pd.DataFrame({'ActualClass': y_test_W, 'PredictedClass': rfc_predictions_test})
df_true_vs_rfc_predicted_test.head(20)

    ActualClass  PredictedClass
0             0            5.36
1             8            8.48
2            15           13.80
3             4           11.12
4            17           17.90
5            11           11.80
6            16           14.76
7            10           11.26
8            34           33.88
9            18           14.72
10           26           26.50

In [270]:
rfc.oob_score_

0.9671783043255752

In [1]:
conda install mysql-connector-python

Collecting package metadata (current_repodata.json): done
Solving environment: failed with initial frozen solve. Retrying with flexible solve.
Solving environment: failed with repodata from current_repodata.json, will retry with next repodata source.
Collecting package metadata (repodata.json): done
Solving environment: failed with initial frozen solve. Retrying with flexible solve.
Solving environment: -
Found conflicts! Looking for incompatible packages.
This can take several minutes.  Press CTRL-C to abort.
                                                                               failed

UnsatisfiableError: The following specifications were found
to be incompatible with the existing python installation in your environment:

Specifications:

  - mysql-connector-python -> python[version='>=2.7,<2.8.0a0|>=3.7,<3.8.0a0|>=3.8,<3.9.0a0|>=3.6,<3.7.0a0|>=3.5,<3.6.0a0']

Your python: python=3.9

If python is on the left-most side of the chain, that's the version you've asked for.
When python appears to the right, that indicates that the thing on the left is somehow
not available for the python version you are constrained to. Note that conda will not
change your python version to a different minor version unless you explicitly specify
that.




Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     |████████████████████████████████| 43 kB 3.5 MB/s eta 0:00:011
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2
Note: you may need to restart the kernel to use updated packages.

In [10]:
git clone https://github.com/invicta117/COMP20230_Data_Struc_and_Algorithms_Assignment_1.git

SyntaxError: invalid syntax (804964574.py, line 1)